<h1>Sale</h1>
<p>Date: <span class="fw-bold"><%= new Date(sale.createdAt).toLocaleString() %></span></p>
<p>Total Amount: <span class="fw-bold"><%= sale.total_amount.toLocaleString() %></span></p>
<p>Source: <span class="fw-bold"><%= sale.source %></span></p>

<h5>Sale Items</h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Sale Quantity</th>
      <th scope="col">Product Price</th>
      <th scope="col">Left in Stock</th>
    </tr>
  </thead>
  <tbody>
    <% sale.SaleItems.forEach(function(sale_item, index) { %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= sale_item.Product.name %></td>
        <td><%= sale_item.amount %></td>
        <td><%= sale_item.quantity %></td>
        <td><%= sale_item.Product.price %></td>
        <td><%= sale_item.Product.quantity %></td>
      </tr>
    <% }); %>
  </tbody>
</table>